.axis {
  stroke-width: 0.5px;
  stroke-dasharray: 5;
  font:18px Calibri;
}

.line {
  stroke: #ffd400;
  stroke-width: 4;
  fill: none;
}

.border {
  stroke: #751818;
  stroke-width: 4;
  fill: #c4ffc0;
}

.grapharea {
  pointer-events: all;
  fill: none;
}

.particles {
  fill: green;
}

.particle {
  fill: #bf0aec;
}
.optres{
font:22px Calibri;
stroke-width:inherit;
fill:#080f23
}
.butt{
color:#730b0b;
text-align:center;
background-color:#c4ffc0;
}
.tool{
  position:absolute;
  text-align: center;
  padding: 3px;
  font: 20px Calibri,sans-serif;
  background: #c3b3e8;
  border: 15px;
  border-radius: 10px;
  pointer-events: none;
  display:inline-block;
}
