.axis {
  stroke-width: 0.5px;
  stroke-dasharray: 5;
  font:18px Calibri;
}

.line {
  stroke: #ffd400;
  stroke-width: 4;
  fill: none;
}

.border {
  stroke: #751818;
  stroke-width: 4;
  fill: #58c314;
}

.grapharea {
  pointer-events: all;
  fill: none;
}

.particles {
  fill: green;
}

.particle {
  fill: #9d00ff;
}
.optres{
font:22px Calibri;
stroke-width:inherit;
fill:#080f23
}
.butt{
color:#c32f2f;
text-align:center;
background-color:#c4ffc0;
}
